#topNav{
	height: 30px;
	background-color: #f2f2f2;
}

#searchBox{
	height: 110px;
	
}

#bottomNav{
	height: 38px;
	background-color: black;
}

#topC{
	height: 30px;
	
}

.btns{
	padding: 0 10px;
	line-height: 30px;
	color: grey;
}
#left{
	
	overflow: hidden;
}

#right{
	
	overflow: hidden;
}

.btns2{
	line-height: 38px;
	padding: 0 20px;
	color: white;
	font-weight: bold;
	font-size: 14px;
}

#bottomC{
	height: 38px;
	
}

.spic img{
	height: 38px;
	width: 38px;
}

/*********searchBox****************/

#search{
	width: 540px;
	height: 110px;
	
	margin-left: 120px;
}

#shopCar{
	width: 140px;
	height: 32px;
	background-color: pink;
	border: solid 1px gray;
	margin: 30px 0 0 80px;
}

#info{
	width: 540px;
	height: 38px;
	background-color: deeppink;
	margin: 30px 0 10px 0;
}
#oi{
	width: 426px;
	height: 34px;
	border: 2px solid deeppink;
	outline: none;
}
#ok{
	width: 100px;
	height: 38px;
	border: none;
	outline: none;
	color: white;
}
#kind .btns{
	height: 14px;
	line-height: 1;
	border-right: 1px solid gray;
}



#carPic{
	width: 32px;
	height: 32px;
}
#car{
	display: block;
	width: 100px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	font-size: 16px;
}
