#box{
	width: 200px;
	height: 320px;
	background: lightgrey;
}
ul{
	padding:0;
	margin:0;
}

ul li{
	line-height:50px;
	list-style: none;
	padding-left: 20px;
	/*background: blanchedalmond;*/
}
ul li:hover{
	background: blanchedalmond;
	font-size: 20px;
}
