.red{
	background: red;
}
.deepskyblue{
	background: deepskyblue;
}
.blue{
	background: blue;
}
.skyblue{
	background: skyblue;
}
.orange{
	background: orange;
}
.yellow{
	background: yellow;
}
.pink{
	background: pink;
}
.hotpink{
	background: hotpink;
}
.lightpink{
	background: lightpink;
}
.deeppink{
	background: deeppink;
}
.shenpink{
	background: #FF1493;
}
.purple{
	background: purple;
}